<div id="<%= modal_id %>" data-target="course-modules.modal" class="modal">
  <%= form_for new_course_module do |form| %>
    <div class="modal-content">
      <div class="row">
        <h4 class="col s12">New Module</h4>

        <% if new_course_module.errors.any? %>
          <ul data-target="course-modules.newError" class="col s12 errors">
            <% new_course_module.errors.full_messages.each do |message| %>
              <li class="error-message"><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="input-field col s12">
          <%= form.label :name %>
          <%= form.text_field :name, :id => :course_module_name %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%=
        form.submit 'Create!',
        :class => 'btn waves-effect waves-light'
      %>
      <a class="modal-action modal-close waves-effect waves-light red lighten-1 btn">Cancel</a>
    </div>
  <% end %>
</div>