<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_module.name %>
</p>

<p>
  <strong>Lecturer Email:</strong>
  <%= @course_module.lecturer.email %>
</p>

<%= link_to 'Edit', edit_course_module_path(@course_module) %> |
<%= link_to 'Back', course_modules_path %>
