<div 
  data-controller="chatbot"
  data-chatbot-course-module-id="<%= @course_module.id %>"
  data-chatbot-coursework-id="<%= @coursework.id %>"
  data-chatbot-lecturer-id="<%= @lecturer_id %>"
>
  <h1><%= @course_module.name %>: <%= @coursework.name %></h1>
  <div data-target="chatbot.conversation"></div>
  <br>
  <b>Question: </b>
  <form data-action="submit->chatbot#ask">
    <input data-target="chatbot.question" />
    <input type="submit" value="Ask!">
  </form>
</div>
