<!DOCTYPE html>
<html>
  <head>
    <title>Automated Marking and Tutoring System</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper container">
        <div class="row">
          <div class="col s12">
            <%= link_to 'Marking and Tutoring System', :course_modules, :class => 'brand-logo hide-on-med-and-down' %>
            <%= link_to 'Marking & Tutoring', :course_modules, :class => 'brand-logo hide-on-small-only hide-on-large-only left' %>
            <%= link_to 'M&T System', :course_modules, :class => 'brand-logo hide-on-med-and-up left' %>

            <ul id="nav-mobile" class="right">
              <% unless session[:jwt].blank? %>
                <li><%= link_to 'Logout', :logout, :method => :delete, :class => 'btn red darken-1' %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="nav-content">
          <% @breadcrumbs.each do |breadcrumb| %>
            <%= link_to breadcrumb[:name], breadcrumb[:url], :class => 'breadcrumb' %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
